{% extends 'user_index.html' %}
{% block title %} Edit Leave {% endblock %}
{% block content %}
<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="py-3 mb-4"><span class="text-muted fw-light">Leave /</span> Edit Leave</h4>

        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                {% comment %} <h5 class="card-header">Basic</h5> {% endcomment %}
                <div class="card-body demo-vertical-spacing demo-only-element">
                    <form method="post" enctype="multipart/form-data" >
                        {% csrf_token %}
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label" for="basic-default-password12">Date From</label>
                                <div class="input-group">
                                    {{ form.date_from }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="basic-default-password12">Date To</label>
                                <div class="input-group">
                                    {{ form.date_to }}
                                </div>
                            </div>
                            
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label" for="basic-default-password12">Leave Type</label>
                                <div class="input-group">
                                    {{ form.leave_type }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="basic-default-password12">N of Days</label>
                                <div class="input-group">
                                    {{ form.no_of_days }}
                                </div>
                            </div>
                            
                        </div>
                        <div class="row mb-3">
                            {% comment %} <div class="col-md-6">
                                <label class="form-label" for="basic-default-password12">Leave Type</label>
                                <div class="input-group">
                                    {{ form.leave_type }}
                                </div>
                            </div> {% endcomment %}
                            <div class="col-md-6">
                                <label class="form-label" for="basic-default-password12">Description</label>
                                <div class="input-group">
                                    {{ form.description }}
                                </div>
                            </div>
                            
                        </div>
                        <input type='submit' class="btn btn-primary " value='Submit'>
                        <a href="{% url 'leaverequest_list' %}?page={{request.GET.page}}&user={{request.GET.user}}&leave_type={{request.GET.leave_type}}&status={{request.GET.status}}" class="btn btn-secondary ">Go Back</a>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}