{% extends 'user_index.html' %}
{% block title %}Edit Planned Task{% endblock %}
{% block content %}
<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="py-3 mb-4"><span class="text-muted fw-light">Edit Planned Task</h4>

        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                {% comment %} <h5 class="card-header">Basic</h5> {% endcomment %}
                <div class="card-body demo-vertical-spacing demo-only-element">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label" for="basic-default-password12">Project</label>
                                <div class="input-group">
                                    {{ form.project_name }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-password-toggle">
                                    <label class="form-label" for="basic-default-password12">Main Task</label>
                                    <div class="input-group">
                                        {{ form.main_task }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label" for="basic-default-password12">Sub Task</label>
                                <div class="input-group">
                                    {{ form.sub_task }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="basic-default-password12">Description</label>
                                <div class="input-group">
                                    {{ form.description }}
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label" for="basic-default-password12">Time</label>
                                <div class="input-group">
                                    {{ form.time }}
                                </div>
                            </div>
                            {% comment %} <div class="col-md-6">
                                <label class="form-label" for="basic-default-password12">Description</label>
                                <div class="input-group">
                                    {{ form.description }}
                                </div>
                            </div> {% endcomment %}
                        </div>
                        
                        
                        <input type='submit' class="btn btn-primary " value='Submit'>
                    </form>
                </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}