{% extends 'user_index.html' %}
{% block title %}Add Planned Task{% endblock %}
{% block content %}
<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="py-3 mb-4"><span class="text-muted fw-light">Planned Task</h4>

        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                {% comment %} <h5 class="card-header">Basic</h5> {% endcomment %}
                <div class="card-body demo-vertical-spacing demo-only-element">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label" for="basic-default-password12">Project</label>
                                <div class="input-group">
                                    {{ form.project_name }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-password-toggle">
                                    <label class="form-label" for="basic-default-password12">Main Task</label>
                                    <div class="input-group">
                                        {{ form.main_task }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label" for="basic-default-password12">Sub Task</label>
                                <div class="input-group">
                                    {{ form.sub_task }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="basic-default-password12">Description</label>
                                <div class="input-group">
                                    {{ form.description }}
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label" for="basic-default-password12">Time</label>
                                <div class="input-group">
                                    {{ form.time }}
                                </div>
                            </div>
                            {% comment %} <div class="col-md-6">
                                <label class="form-label" for="basic-default-password12">Description</label>
                                <div class="input-group">
                                    {{ form.description }}
                                </div>
                            </div> {% endcomment %}
                        </div>
                        
                        
                        <input type='submit' class="btn btn-primary " value='Submit'>
                    </form>
                </div>
                </div>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">Today Planned Task</h5>
            <div class="table-responsive text-nowrap">
              <table class="table">
                <thead>
                  <tr>
                    <th>Project</th>
                    <th>Main Task</th>
                    <th>Sub Task</th>
                    <th>Time</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% for i in tasks %}
                        <tr>
                        <td>
                            <span class="fw-medium">{{i.project_name.name}}</span>
                        </td>
                        <td>{{i.main_task.name}}</td>
                        <td>{{i.sub_task.description}}</td>
                        <td>{{i.time}} Hrs</td>
                        <td>
                            <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'edit_planned_task' i.id %}"
                                ><i class="bx bx-edit-alt me-1"></i> Edit</a
                                >
                                <a class="dropdown-item" href="{% url 'planned_task_delete' i.id %}"
                                ><i class="bx bx-trash me-1"></i> Delete</a
                                >
                            </div>
                            </div>
                        </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $("#id_project_name").change(function () {
        var url = "{% url 'load_main_tasks' %}";  // URL to fetch main tasks
        var projectId = $(this).val();  // get the selected project ID from the HTML input

        $.ajax({
            url: url,
            data: {
                'project_id': projectId
            },
            success: function (data) {
                $("#id_main_task").html("");  // clear the existing options in the main task dropdown
                $("#id_main_task").append('<option value="">---------</option>');  // add an empty option
                $.each(data, function (key, value) {
                    $("#id_main_task").append('<option value="' + value.id + '">' + value.name + '</option>');
                });
            }
        });
    });

    $("#id_main_task").change(function () {
        var url = "{% url 'load_sub_tasks' %}";  // URL to fetch sub tasks
        var mainTaskId = $(this).val();  // get the selected main task ID from the HTML input

        $.ajax({
            url: url,
            data: {
                'main_task_id': mainTaskId
            },
            success: function (data) {
                $("#id_sub_task").html("");  // clear the existing options in the sub task dropdown
                $("#id_sub_task").append('<option value="">---------</option>');  // add an empty option
                $.each(data, function (key, value) {
                    $("#id_sub_task").append('<option value="' + value.id + '">' + value.description + '</option>');
                });
            }
        });
    });
</script>
{% endblock %}