{% extends "index1.html" %}
{% block title %}Leave Requests{% endblock %}
{% block content %}
<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="card">
            <h5 class="card-header">Leaves</h5>
            <div class="container mt-1">
                <form method="get" class="row g-3">
                    <div class="col-md-3">
                        {{ leave_filter.form.user }}
                    </div>
                    <div class="col-md-3">
                        {{ leave_filter.form.leave_type }}
                    </div>
                    <div class="col-md-3">
                        {{ leave_filter.form.status }}
                    </div>
                    
                    <a href="{% url 'leaverequest_list' %}" class="btn btn-icon btn-secondary"><span class="tf-icons bx bx-reset"></span></a>
                    <div class="col-md-1 ">
                        <button type="submit" class="btn btn-primary ">Filter</button>
                    </div>
                </form>
            </div>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>User</th>
                        <th>Leave Type</th>
                        <th>Date From</th>
                        <th>Date To</th>
                        <th>No Of Days</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                    {% if page_obj and page_obj.object_list %}
                    {% for i in page_obj %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.user.username}}</td>
                        <td>{{i.leave_type}}</td>
                        <td>{{i.date_from|date:"d/m/Y"}}</td>
                        <td>{{i.date_to|date:"d/m/Y"}}</td>
                        <td>{{i.no_of_days}}</td>
                        <td><span class="badge
                            {% if i.status == 'Active' %}
                                bg-label-success 
                            {% elif i.status == 'Inactive' %}
                                bg-label-danger
                            {% else %}
                                bg-label-warning
                            {% endif %}
                            me-1">
                            {% if i.status == 'Active' %}
                                Approved
                            {% else %}
                                Pending
                            {% endif %}
                                </span>
                        </td>
                        
                        {%if i.status == 'Inactive' %} 
                        <td>
                            <button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#modalToggle" data-id="{{ i.id }}" >Approve</button>
                        </td>
                        {% else %}
                        <td>
                        <button type="button" disabled class="btn btn-primary">Approved</button>
                        </td>
                        {% endif %}
                        
                    </tr>
                    
                    {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="8" class="text-center"><h3>Nothing to be found</h3></td>
                        </tr>
                    {% endif %}
                    </tbody>
                    
                </table>
            </div>
            {% if page_obj %}
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                  {% if page_obj.has_previous %}
                      <li class="page-item prev">
                          <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% for field, value in leave_filter.form.cleaned_data.items %}{% if value and field != 'page' %}&{{ field }}={{ value }}{% endif %}{% endfor %}" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                          </a>
                      </li>
                  {% else %}
                      <li class="page-item prev disabled">
                          <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                          </a>
                      </li>
                  {% endif %}
                  
                  {% for num in page_obj.paginator.page_range %}
                      {% if page_obj.number == num %}
                          <li class="page-item active">
                              <a class="page-link" href="#">{{ num }}</a>
                          </li>
                      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                          <li class="page-item">
                              <a class="page-link" href="?page={{ num }}{% for field, value in leave_filter.form.cleaned_data.items %}{% if value and field != 'page' %}&{{ field }}={{ value }}{% endif %}{% endfor %}">{{ num }}</a>
                          </li>
                      {% endif %}
                  {% endfor %}
                  
                  {% if page_obj.has_next %}
                      <li class="page-item next">
                          <a class="page-link" href="?page={{ page_obj.next_page_number }}{% for field, value in leave_filter.form.cleaned_data.items %}{% if value and field != 'page' %}&{{ field }}={{ value }}{% endif %}{% endfor %}" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                          </a>
                      </li>
                  {% else %}
                      <li class="page-item next disabled">
                          <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                          </a>
                      </li>
                  {% endif %}
              </ul>
            </nav>
            {% endif %}
          
        </div>
    </div>
</div>
<div class="modal fade" id="modalToggle" aria-labelledby="modalToggleLabel" tabindex="-1" style="display: none" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalToggleLabel">Leave Approve</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
                </div>
                <div class="modal-body">Are you sure to continue the appove the leave request!!</div>
                <div class="modal-footer">
                <a href="#"
                    id="approveLeaveButton"
                    class="btn btn-primary">
                    Approve
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var modalToggle = document.getElementById('modalToggle');
        modalToggle.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget;
            // Extract info from data-id attribute
            var leaveRequestId = button.getAttribute('data-id');
            var approveUrl = "{% url 'approve_leave' pk=0 %}".replace('0', leaveRequestId);
    
            // Update the modal's content
            var approveButton = modalToggle.querySelector('#approveLeaveButton');
            approveButton.setAttribute('href', approveUrl);
        });
    });
</script>
{% endblock %}