{% extends 'user_index.html' %}
{% block title %}Add Task{% endblock %}
{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="d-flex" style="justify-content: space-between;" >
        <div class="card text-center mb-3" style="width:32%" >
            <div class="card-body">
                <h5 class="card-title">Have a great day!!</h5>
                <p class="card-text"></p>
                
                {% if user_punchin %}
                    <a href="" class="btn btn-danger">Punch Out</a><br><br>
                    <a href="" class="btn btn-success">Lunch Start</a>
                {% else %}        
                    <a href="{% url 'punch_in' %}" class="btn btn-success">Punch In</a>
                {% endif %}
            </div>
        </div>
        <div class="card text-center mb-3" style="width:32%" >
            <div class="card-body">
                <h5 class="card-title"><b>TODAY</b></h5>
                <div class="table-responsive text-nowrap">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th><b>Punch In</b></th>
                          <th><b>Punch Out</b></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            {% if user_punchin %}
                            <td>
                                <span class="fw-medium">{{user_punchin.punch_in_time}}</span>
                            </td>
                            <td>{{user_punchin.punch_out_time|default:""}}</td>
                            {% else %}
                            <td>
                                <span class="fw-medium"></span>
                            </td>
                            <td></td>
                            {% endif %}
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card text-center mb-3" style="width:32%" >
            <div class="card-body">
                <h5 class="card-title"><b>LUNCH TIME</b></h5>
                <div class="table-responsive text-nowrap">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th><b>Lunch Start</b></th>
                          <th><b>Lunch End</b></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <span class="fw-medium">Angular Project</span>
                          </td>
                          <td>Albert Cook</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="card text-center mb-3">
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-success">Puch In</a>
        </div>
    </div>
    <div class="card text-center mb-3">
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="{% url 'punch_in' %}" class="btn btn-success">Puch Insssss</a>
        </div>
    </div>
</div>
{% endblock %}