{% extends 'index1.html' %}
{% block title %}Edit Project{% endblock %}
{% block content %}
<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="py-3 mb-4"><span class="text-muted fw-light">Task /</span> Edit Project</h4>

        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                {% comment %} <h5 class="card-header">Basic</h5> {% endcomment %}
                <div class="card-body demo-vertical-spacing demo-only-element">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label" for="basic-default-password12">Title</label>
                                <div class="input-group">
                                    {{ form.name }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="basic-default-password12">Status</label>
                                <div class="input-group">
                                    {{ form.status }}
                                </div>
                            </div>
                            
                        </div>
                        <input type='submit' class="btn btn-primary " value='Submit'>
                        <a href="{% url 'project' %}?page={{ request.GET.page|default:'1' }}&name={{ request.GET.name }}&status={{ request.GET.status }}" class="btn btn-secondary ">Go Back</a>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}