{% extends 'index1.html' %}
{% block title %}Edit User{% endblock %}
{% block content %}
<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="py-3 mb-4"><span class="text-muted fw-light">Users /</span> Edit User</h4>

        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                {% comment %} <h5 class="card-header">Basic</h5> {% endcomment %}
                <div class="card-body demo-vertical-spacing demo-only-element">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label" for="basic-default-password12">Username</label>
                                <div class="input-group">
                                    {{ form.username }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-password-toggle">
                                    <label class="form-label" for="basic-default-password12">Password</label>
                                    <div class="input-group">
                                        {{ form.email }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label" for="basic-default-password12">Email</label>
                                <div class="input-group">
                                    {{ form.phone }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="basic-default-password12">Phone</label>
                                <div class="input-group">
                                    {{ form.user_type }}
                                </div>
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label" for="basic-default-password12">Usertype</label>
                                <div class="input-group">
                                    {{ form.status }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                {% comment %} <label class="form-label" for="basic-default-password12">status</label> {% endcomment %}
                                <div class="input-group">
                                    {{ form.password.as_hidden }}
                                </div>
                            </div>
                        </div>
                        <h3 class="card-title text-primary">User Profile</h3>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label" for="basic-default-password12">First Name</label>
                                <div class="input-group">
                                    {{ form1.first_name }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="basic-default-password12">Last Name</label>
                                <div class="input-group">
                                    {{ form1.last_name }}
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label" for="basic-default-password12">Address </label>
                                <div class="input-group">
                                    {{ form1.Address  }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="basic-default-password12">Country </label>
                                <div class="input-group">
                                    {{ form1.country  }}
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label" for="basic-default-password12">State</label>
                                <div class="input-group">
                                    {{ form1.state }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="basic-default-password12">District </label>
                                <div class="input-group">
                                    {{ form1.district  }}
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label" for="basic-default-password12">Position</label>
                                <div class="input-group">
                                    {{ form1.company_section  }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="basic-default-password12">Zip Code  </label>
                                <div class="input-group">
                                    {{ form1.zip_code   }}
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label" for="basic-default-password12">Language </label>
                                <div class="input-group">
                                    {{ form1.language  }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="basic-default-password12">Salary </label>
                                <div class="input-group">
                                    {{ form1.salary   }}
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label" for="basic-default-password12">Gender</label>
                                <div class="input-group">
                                    {{ form1.gender   }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="basic-default-password12">Working Hours  </label>
                                <div class="input-group">
                                    {{ form1.working_time   }}
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label" for="basic-default-password12">D.O.B</label>
                                <div class="input-group">
                                    {{ form1.dob  }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="basic-default-password12">Working Area  </label>
                                <div class="input-group">
                                    {{ form1.working_area   }}
                                </div>
                            </div>
                        </div>
                        <input type='submit' class="btn btn-primary" value='Submit'>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}